/* Reset selector */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Titulo en grande quiero ponerle la imagen de fondo*/
h1{
    color: chartreuse;
    text-align: center;
}
/*a futuro quiero cambiar la ubicación y los colores */
ul{
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
    overflow: hidden;
}
li{
    float: left;
}
/* cambiar la tipografía y colores + la ubicacion*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    background-color:black;
    text-decoration: none;
  }
/* El cuerpo hoy tiene un color cálido pero atino a otra gama para cautivar la atención del user*/
.container{
    text-align:center;
    background-color:rgba(51, 65, 54, 0.575);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* cada imagen es igual por ahora pero a futuro se cambia*/
.boyfly{
    height: 100px;
    align-content:space-around;
}
/* va a depender del fondo pero ahora dejo en blanco*/
.colorwhite{
    background-color: blanchedalmond;
    font-size: 20px;
    text-align:center;
    outline-style: dotted;
}
/* Media queries*/
@media screen and (max-width: 768px) {
    .body {
        background-color: greenyellow;
    }
}