/* Colors*/
$black:black;
$grey:grey;
$greenyellow:greenyellow;
$white:white;
$pink:pink;

/*Size*/
$medium:medium;
$large:x-large;
$size45:45px;
$cover:cover;
$size50:50px;
$size25:25px;
$height:250px;
$height-100:100px;
$width:45%;
$width-100:100%;
$min-hei-11:11vh;
$f-weight:100rem;
$f-size:2rem;
$border-r:1rem;
$f-weight-700:700px;
$f-weight-300:300px;
$size2:2px;
$size0:0;
$size90:90%;
$border-r3r:3rem;
$letter-s-03m:0.03em;
$box-shadow2:2px;
$font-size200:200px;
$font-size18:18px;
$width-f-content:fit-content;
$box-sha-12:12px;
$box-sha-16:16px;
$hover-opa-01:1.0;
$pic-opaci-05:0.5;
$transform-15:-15px;
$transform-020:0.20px;
$letter-spa-8:8px;
$text-s-5:5px;
$animation2:2s;
$media-max-with:767px;


/*Font*/
$creepster:'Creepster', cursive;
$lucida:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$apple-blink:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$system-li:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*Positions*/
$center:center;
$no-repeat:no-repeat;
$fixed:fixed;
$space-around:space-around;
$inherit:inherit;
$stretch:stretch;
$grid:grid;
$hidden:hidden;
$flex:flex;
$left:left;
$block:block;
$initial:initial;
$none:none;
$infinite-back:infinite backwards;
$display-g:grid;


/*Boxes*/
$padding-8:8px;
$padding-left:0px;
$p-left-105:105px;
$m-top:10px;
$margin-t0:0%;
$margin10:10%;
$margin-l0:0%;
$margin-auto:auto;
$margin-rl0:0%;
$margin-rr0:0%;
$margin-r0:0%;
$box-si-bb:border-box;
$padd-8:8px;



