 /* Background image ok changed*/
 body{
        .background{
            margin-left: $margin-rl0;
            margin-right: $margin-rr0;
            text-align:$center;
            background-image:url(../assets/img/backgroundfinal.webp);
            background-repeat: $no-repeat;
            background-position: $center;
            background-attachment: $fixed;
            background-size: $cover;
            font-family: $apple-blink;
            color:$black;
            font-size: $medium;
            margin: $size0;
        }

        .back-page{
            margin-left: $margin-rl0;
            margin-right: $margin-rr0;
            text-align:$center;
            background-image:url(../../assets/img/goku.webp);
            background-repeat: $no-repeat;
            background-position: $center;
            background-attachment: $fixed;
            background-size: $cover;
            font-family: $apple-blink;
            color: $white;
            text-shadow: $size2 $size2 $black;
            font-size: $medium;
            margin: $size0;
        }

}