header{
        h1{
            color: $black;
        }

        /*NEON ANIMATION*/
        .neon{
            font-family: $creepster;
            letter-spacing: $letter-spa-8;
            font-size: $size45;
            text-shadow: $size0 $size0 $text-s-5 $pink, $size0 $size0 15px pink, $size0 $size0 30px pink;
        }
            .flicker {
                animation: toblink $animation2 $infinite-back steps(5);
            }

            @keyframes toblink {
                to{
                    color:$grey;
                    text-shadow: $none;
                }
            }

        /*Navbar*/
        .navbar{

            background-color: $black;
        }
            .navbar-toggler-icon{
                background-color: $pink;
        }
            .brand{
                display: $flex;
            }
                .container-fluid{
                    font-family: $system-li;
                    list-style-type: $none;
                    margin-top: $margin-t0;
                    margin-left: $margin-l0;
                    margin-right: $margin-r0;
                    overflow: $hidden;
                    background-color: $black;
                }
                li{
                    float: $left;
                    background-color: $black;
                }
                /* It was possible to change the place but it remains to be clearer*/
                    a {
                        display: $block;
                        text-align: $center;
                        padding: $padd-8;
                        background-color:$black;
                        color:$greenyellow;
                        text-decoration: $none;
                    }

        .NavInsideTheHead{
                display: $flex;
                background-color: $white;
                float:$initial;
                text-decoration:$none;
        }
                    ul{
                        display: $block;
                        text-align: $center;
                        padding:$padding-8;
                        background-color:$black;
                        color:$white;
                    }
                        .LiInsideTheUl{
                            float: $left;
                            background-color:$white;
                        }

}