main{
    justify-items:$stretch ;
    text-align: $center;

    /*Animation*/
    .animation {
        width: $size90;
        color: $black;
        background-color: $pink;
        font-weight: $f-weight-700;
        font-size: $size50;
    }
    .animation2{
        width: $size90;
        color: $black;
        background-color: $pink;
        font-weight: $f-weight-300;
        font-size: $size25;
    }
    /*CARDS OKI DOKI*/
    .col{
        background-color: $pink;
        color:$black;
        font-size: $medium;
        font-family: $system-li;
        border-radius: $border-r3r;
        letter-spacing: $letter-s-03m;
    }
        .card{
            margin: $margin10 $margin10 $margin10 $margin10;
            box-shadow: $size0 $box-shadow2 $box-shadow2 rgba($size0,$size0,$size0,0.2);
            overflow: $hidden;
            transition: all $transform-020;

            &:hover {
                transform: translate($transform-15);
                box-shadow: $size0 $box-sha-12 $box-sha-16 rgba($size0, $size0, $size0, 0.2);
            }
        }

    /* the images were changed*/
    .boyfly{
        margin: $size0 $margin-auto;
        width:$width;
        align-content:$space-around;
        border-radius: $border-r;
        overflow: $hidden;
        opacity: $pic-opaci-05;

            &:hover {
                opacity: $hover-opa-01;
            }
    }

    .boyfly2{
        padding-left: $padding-left;
        width:$width;
        margin:$size0 $margin-auto;
        align-content:$space-around;
        border-radius: $border-r;
        overflow: $hidden;
        opacity: $pic-opaci-05;

            &:hover{
                opacity: $hover-opa-01;
            }
    }

    /* It will depend on the background but now I leave it black*/
    .colorwhite{
        /*background is displayed with the background image*/
        color: $black;
        font-size: $size25;
        text-align:$inherit;
    }
    .border{
        margin: $size0 $margin-auto;
        background-color: $pink;
        color: $black;
        font-weight: $f-weight;
        font-family: $lucida;
        height: $margin-auto;
        width: $width-f-content;
    }
    .text-tours{
        font-family: $system-li;
        font-size: $f-size;
        text-align: $center;
    }
    .produtcs{
        height: $height-100;
        align-content:$space-around;
    }
    .body-white{
        background-color: $pink;
    }
    .page-text{
        color: $white;
        font-size: $font-size200;
        text-shadow: $size2 $size2 $black;
    }
    .text-p{
        font-size: $font-size18;
    }
    .container-site{
        color: $pink;

    }

}