/* Media queries*/
/* For DESKTOP: */
.container{
        display:grid;
        grid-template-areas: "1fr 1fr 1fr";

}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 767px) {
        iframe {
        display:$none;

        }
        .container{
                display:grid;
                grid-template-areas: "1fr";
        }

}
