/* Media queries*/
/* For DESKTOP: */
.container{
        display:$display-g;
        grid-template-areas: "1fr 1fr 1fr";

}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: $media-max-with) {
        iframe {
        display:$none;

        }
        .container{
                display:$display-g;
                grid-template-areas: "1fr";
        }

}
